
	.main-header{
		display: flex;
		background-color: #5e9799;
		width: 100%;
	}

	.main-header a{
		color: #FFF;
		text-decoration: none;
	}

	.top-main{
	background-image: url(/img/about-top.png);
	background-repeat: no-repeat;
	background-position:right 50px center;
	padding-top: 30px;
	background-size: 45%;
	width: 100%;
	height: 50vw;
	}

	.top-message{
		color: #224f22;
		text-align: left;
		padding-top: 30px;
		padding-left: 80px;
	}

	.top-message2{
		color: black;
		text-align: left;
		padding-top: 50px;
		padding-left: 80px;
		font-size: 20px;
	}


	.top-message h1{
		font-size: 40px;
		margin-bottom: 0px
	}

	.header-item{
		padding: 20px;
	}

	.header-logo{
		margin-right: auto;
}

		
.main2 {
			margin: 0;
			padding: 90px 40px 40px 40px;
			background-color: white;
			background-position: center;
			
			height: 100vh;
		}
		
.post-item2 {
			background-position: center;
			
			height: 75vh;
			margin-left: 300px;
			 margin-right: 300px;
		    background-color: aliceblue;
		    overflow: hidden;
		    box-shadow: 0 2px 6px #c1ced7;
		}

.form-mode2 {
		    margin: 60px 0 20px;
		    text-align: center;
		    font-size: 48px;
		    font-weight: 300;
		    color: black;
			}
			
.form-mode3 {
	
					    text-align: left;
					    font-size: 20px;
					    font-weight: 300;
					    color: black;
						}
			
			
.post-wrapper2 {
				max-width: 600px;
			    margin: 60px auto;
			}

.diary-form2 input[type="text"] {
				width: 100%;
				font-size: 20px;
			    padding: 10px;
				margin: 8px 0;
				border: 1px solid #d8dadf;
			    resize: none;
			}

.diary-form2 input[type="submit"] {
	margin-top: 40px;
    margin-left:270px;
			    background-color: #00a39b;
			    color: white;
			    cursor: pointer;
			    font-size: 16px;
			    font-weight: 300;
			    border: none;
			    border-radius: 4px;
			    padding: 12px 28px;	   
			}
