.main {
	margin: 0;
	padding: 90px 40px 40px 40px;
	background-color: #e8efef;
	height: 100vh;
}


.post-wrapper {
	max-width: 600px;
    margin: 60px auto;
}

.post-list a {
	text-decoration: none;
	color: black;
}

.post-detail .title {
	font-size: 20px;
	font-weight: bold;
}

.post-item {
	margin: 8px 0;
	padding: 32px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
}


.title {
	font-size: 18px;
}

.diary-body {
	margin: 20px 0;
	line-height: normal;
	white-space: pre-wrap;
}

.date {
	font-size: 12px;
	color: grey;
	text-align: end;
}

.btns-wrapper {
	display: flex;
	justify-content: end;
}

.btn {
	padding: 12px;
	text-align: center;
}

.form-mode {
    margin: 60px 0 20px;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    color: #8bb5bd;
}


.diary-form input[type="text"] {
	width: 100%;
	font-size: 20px;
    padding: 10px;
	margin: 8px 0;
	border: 1px solid #d8dadf;
    resize: none;
}

.diary-form textarea {
	width: 100%;
	min-height: 140px;
	font-size: 20px;
    padding: 10px;
	margin: 8px 0;
    border: 1px solid #d8dadf;
    resize: none;
}

.diary-form input[type="submit"] {
    background-color: #00a39b;
    color: white;
    cursor: pointer;
	font-size: 16px;
    font-weight: 300;
	border: none;
    border-radius: 4px;
	padding: 12px 28px;
    margin-top: 8px;
    margin-bottom: 0;
	float: right;
}