<!DOCTYPE html>
<html>
	
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>つぶやき日記</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/diary.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/about.css">
</head>

<body>
	<div class = "main-header">
		<div class = "header-logo header-item">
			<a href = "/">つぶやき日記</a>
		</div>
		<div class="header-item">
			<a href="/about">機能紹介</a>
		</div>
		<div class="header-item">
			<a href="/diary/">日記一覧</a>
		</div>
		<div class = "header-item">
			<a href = "/diary/new">新規投稿</a>
		</div>
	</div>
	
	<div class = "top-main">
			 <div class = "top-message">
	          <!-- ここに内容を記述 -->
			  <h1>つぶやき日記</h1></div>
			  <div class = "top-message2">
			  <p>『つぶやき日記』は、日々の出来事や思いを気軽にシェアでき</p>
			  <p>るSNSです。簡単な操作で投稿ができ、友達やフォロワーのつ</p>
			  <p>ぶやきを一覧で確認できます。あなたの日常を、もっと楽し</p>
			  <p>く、もっとシェアしやすく。</p></div>
			  </div>
			</div>
	
	<div class = "main2">
		<h1 th:text="${testText}"></h1> 
		<div class = "post-item2">
		<h3 class = "form-mode2">お問い合わせ</h3>
		<div class = "post-wrapper2">
				<form th:object="${inquireForm}" th:action="@{/about}" method="post" class="diary-form2">
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="err-mes"></p>
					<h4 class = "form-mode3">メールアドレス</h4>
					<input th:field="*{email}" type="text" placeholder="">
					<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="err-mes"></p>
					<h4 class = "form-mode3">お名前</h4>
					<input th:field="*{name}" type="text" placeholder="">
					<p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="err-mes"></p>
					<h4 class = "form-mode3">お問い合わせ内容</h4>
					<input th:field="*{body}" type="text" placeholder="">
					<input  type="submit" value="送信">
					</form>	
					
						
			</div>
		</div>
		</div>
</body>

</html>