<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>つぶやき日記</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/diary.css">
	<link rel="stylesheet" href="/css/common.css">
</head>

<body>
	<div class = "main-header">
		<div class = "header-logo header-item">
			<a href = "/">つぶやき日記</a>
		</div>
		<div class="header-item">
			<a href="/diary/">日記一覧</a>
		</div>
		<div class = "header-item">
			<a href = "/diary/new">新規投稿</a>
		</div>
	</div>
	<div class = "main">
		<h1 th:text="${testText}"></h1> 
		<h3 class = "form-mode">編集</h3>
		<div class = "post-wrapper">
			<div class = "post-item">
				<form th:object="${diaryForm}" th:action="@{/diary/{id}/edit(id=*{id})}" method="post" class="diary-form" enctype="multipart/form-data">
				    <input type="hidden" th:field="*{id}"/>
				    
				    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="err-mes"></p>
				    <input th:field="*{title}" type="text" placeholder="タイトル">
				    
				    <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" class="err-mes"></p>
				    <textarea th:field="*{body}" placeholder="内容"></textarea>

				    <label for="imageFile">画像を差し替える (任意)</label>
				    <input type="file" id="imageFile" th:field="*{imageFile}" accept="image/*">

				    <input type="submit" value="更新" class="btn">
				</form>		
			</div>
		</div>
	</div>
</body>


</html>