<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>つぶやき日記</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/reset.css">
	    <link rel="stylesheet" href="/css/diary.css">
		<link rel="stylesheet" href="/css/common.css"><!-- 追加 -->
    </head>
    
		
	<body>
		<div class = "main-header">
			<div class = "header-logo header-item">
			  <a href ="/">つぶやき日記</a>
			</div>
			<div class = "header-item">
			<a href ="/about">機能紹介</a>
			</div>
			<div class = "header-item">
			<a href ="/diary/">日記一覧</a>
			</div>
			<div class = "header-item">
			   <a href ="/diary/new">新規投稿</a>
			</div>
		</div>
		
		<div class = "top-main">
		 <div class = "top-message">
          <!-- ここに内容を記述 -->
		  <h1>日々の一言をここに。</h1>
		  <p>今の気持ちを日記に書いてみましょう</p>
		  </div>
		</div>
    </body>
</html>